REACT_APP_SUPABASE_URL=https://yrzyhjhupnjugyeezgle.supabase.co
REACT_APP_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Inlyenloamh1cG5qdWd5ZWV6Z2xlIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTY2MzA3OTgsImV4cCI6MjA3MjIwNjc5OH0.2_c7CiwpkW-tMBoCpF0cfBONbHeNoGSMg6i33JPmY7g
REACT_APP_API_URL=https://your-api-url.onrender.com
